<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TestWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TestWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44375/TestWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TestWebServiceSoap"
                contract="ServiceReference.TestWebServiceSoap" name="TestWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>